* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, rgb(202, 231, 247), #ffffff);
  color: #333;
  line-height: 1.6;
  padding: 40px;
}

h1{
  color: #313233;
  margin-bottom: 20px;
}

fieldset {
  border: 2px solid #a3c2f0;
  border-radius: 10px;
  padding: 20px 30px;
  margin-bottom: 25px;
  background-color: #f9fbff;
  box-shadow: 0 2px 8px rgba(0, 64, 128, 0.1);
}

li{
  margin-top: 15px;
}

label {
  display: block;
  font-weight: 550;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {
  width: 100%;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #b3c6ff;
  background-color: #fff;
  font-size: 13px;
}

input[type="radio"] {
  margin-right: 5px;
}

label[for="with"],
label[for="without"] {
  display: inline-block;
  margin-right: 14px;
  font-weight: 500;
}

p {
  font-size: 1.2em;
  color: #004080;
  font-weight: bold;
  margin-bottom: 10px;
}

legend{
  font-size: 1.2em;
  color: #004080;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="submit"] {
  display: block;
  margin: 30px auto 0 auto;
  background-color: #004080;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  border: none;
  padding: 12px 40px;
  border-radius: 8px;
  cursor: pointer;
}

